
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


body{
   
  background-color: #D1D1D1;
    display: flex;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;  
    justify-content: center;
}

header{
    display:flex ;
    align-items: center;
    background-color: #562EFF;
    height: 94px;
}

.logo{
  
    display:flex;
    align-items: center;
    position: relative;
    left: 25%;
    color: white;
    font-size: 24px;
   
}

.logo img {
    width: 40.41px;
    height: 51px;
    margin-right:20px;
}

.menu{
    display:flex;
    align-items: center;
    position: absolute;
    right: 25%;
    font-size: 16px;
    color: white;
    
}

.menu i{
    display: none;
}

.menu nav ul{
    display: flex;
    align-items: center;
}

.menu nav ul li {
    display: inline-block;
    list-style: none;
    margin-left: 20px;
 
}


.menu img{
    width: 51px;
    height: 51px;
    margin-left: 10px;
}



.main{
    
    display: flex;
   align-items: center;
   flex-direction: column; 
}

.container{
    background-color: white;
    border-radius: 5px;
    padding-top: 13px;
    padding-bottom: 45px;
    width: 870px;
    
    margin-bottom: 21px;
}

.players{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    margin-bottom: 30px;

}

.player{

display: flex;
align-items: center;
margin-left: 30px;
margin-top: 8px;

}

h1{
 
    margin-left: 33px;
    color: #562EFF;
    font-size: 24px;
}

.player p{
    font-size: 18px;
}

.player img {
    height: 56px;
width: 56px;
margin-right: 16px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-top: 0;
  
}


.blogs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap:23px;
  
}
.blog {
    display: flex;
    margin-left: 30px;
}
.blog img{
    width: 177px;
    height: 117px;
    margin-right: 16px;
}

.blog p{
    font-size: 24;
}

.blog p span {
    font-size: 16px;
    color: #9F9F9F;
}

.blog p span span{
    color: #562EFF;
}



.courses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 53.05px;
    margin-left: 30px;



}



.fas, .fa-star{
    color: grey;
}
.courses img{
    width: 224px;
    height: 104px;
    margin: 0;

}
.course-title{
    font-size: 20px;
}



@media only screen and (max-width:688px)

{
 
    .logo {
        position: relative;
    left: 7%;
    }

    .menu{
  
        position: absolute;
        right: 10%;}

.menu i {
    display: block;
    font-size: 2em;
    color: white;
}
    



nav{ 
    position: fixed;
    left: 0;
    width: 100%;
    background-color: black;
    top: 94px;
    transform: translatex(700px);
    align-items: center;
    transition: .2s ease-in;
    padding: 20px 0;
 }
 

nav ul {  
    flex-direction: column;}
    
 
    
    #toggler {
        display: none;
    }

 #toggler:checked ~ nav{
   transform: translateX(0px);
}

   
 
  


.container{
    width: 100%;

}

.players, .blogs , .courses{

    display: grid;
    grid-template-columns: repeat(1,1fr);
}
   
    .blog {
        display: flex;
  
        flex-direction: column;}
}


@media only screen and (min-width:688px) and (max-width : 992px)
{
    .container{
        width: 100%;
       
    } 

    .players , .blogs , .courses{
     
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    
        .blog {
            display: flex;
            flex-direction: column;}
}

