
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


body{
   
    Width : 1440px;
  background-color: #D1D1D1;
    display: flex;
   
    flex-direction: column;  
    justify-content: center;
}


header{
    display: flex;
    justify-content: center;
    background-color: #562EFF;
}

nav{
    
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-column-gap: 350px;
   

  
}

nav ul{
    display: flex;
 
    align-items: flex-start;
    padding: 0%;
}
nav ul li {
    list-style: none;
   font-size: 24px;
    font-family: 'Poppins', sans-serif;
    margin-left: 15.56px;
    color: white;
   
    
}

nav ul .logo img {
    width: 40.41px;
    height: 51px;
    padding-left: 0;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

nav ul .propic img{
    width: 51px;
    height: 51px;

}


.main{
    background-color: #9F9F9F;
    font-family: 'Poppins', sans-serif;
    display: flex;
   align-items: center;
   flex-direction: column; 
}

.container{
    background-color: white;
    border-radius: 5px;
    padding-top: 13px;
    padding-bottom: 45px;
    width: 870px;
    
    margin-bottom: 21px;
}

.players{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    margin-bottom: 30px;

}

.player{

display: flex;
align-items: center;
margin-left: 30px;
margin-top: 8px;

}

h1{
 
    margin-left: 33px;
    color: #562EFF;
    font-size: 24px;
}

.player p{
    font-size: 18px;
}

.player img {
    height: 56px;
width: 56px;
margin-right: 16px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-top: 0;
  
}


.blogs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap:23px;
  
}
.blog {
    display: flex;
    margin-left: 30px;
}
.blog img{
    width: 177px;
    height: 117px;
    margin-right: 16px;
}

.blog p{
    font-size: 24;
}

.blog p span {
    font-size: 16px;
    color: #9F9F9F;
}

.blog p span span{
    color: #562EFF;
}





   





.courses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 53.05px;
    margin-left: 30px;



}


.fas{
    color: turquoise;
}
.fas, .fa-star{
    color: grey;
}
.courses img{
    width: 224px;
    height: 104px;
    margin: 0;

}
.course-title{
    font-size: 20px;
}



@media only screen and (max-width:688px){

  
    header{
        display: flex;
        justify-content: flex-start;
 
    }
    
    nav{
        display: flex;
        flex-direction: column;
        
  
     
      
  
   }
.main{
    width: 100%;
    display: flex;
    align-items: normal;

}


.players, .blogs , .courses{

    display: grid;
    grid-template-columns: repeat(1,1fr);}

    

 

}


@media only screen and (min-width:688px) and (max-width : 992px)
{

    
    header{
        display: flex;
        justify-content: flex-start;
 
    }
    
    nav{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
      
      
   }  
    .main{
        width: 100%;
        display: flex;
        align-items: normal;
        

    } 

   
    
    .players , .blogs , .courses{
     
    
        display: grid;
        grid-template-columns: repeat(1,1fr);}
    
        
    }